/* === *** Start Custom Css *** === */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600&family=Fira+Code:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(./images/picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* === *** End Custom Css *** === */

.header {
    /* margin: 20px 0; */
} 

.left {
    /* width: 20%; */
    left: 30px;
    position: absolute;
    top: 0;
}

.left  img {
    width: 170px;
    filter: invert(200%);
}

.mid {
    width: 45%;
    display: block;
    margin: 0px auto;
}

.mid ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mid ul li {
    list-style: none;
    margin: 5px 10px;
}

.mid ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px 15px;
    display: block;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    transition:.1s linear;
}

.mid ul li a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.right {
    right: 38px;
    position: absolute;
    display: inline-block;
    top: 25px;
}

.right .btn {
    text-align: center;
    color: #fff;
    padding:5px 13px;
    background: none;
    font-size: 17px;
    border-radius: 0 15px 0 15px;
    transition: .1s linear;
    border: 1px solid #fff;
    margin: 0 5px;
    font-weight: 600;
}

.right .btn:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
    padding:5px 14px;
    box-shadow: 0px 0px 4px 4px #cdcefd;
}

.container {
    border: 2px solid #fff;
    margin: 120px 100px;
    padding: 100px 40px;
    width: 35%;
    height: 60%;
    border-radius: 0 50px 0 50px;
    box-shadow: 0px 0px 25px 1px #d3d5fa
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 0 12px 0;
    border-bottom: 3px dotted #fff;
    color: #dfdfdf;
    font-size: 30px;
}

.container .box-group input {
    display: block;
    width: 60%;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    font-weight: 600;
    border: 1px solid #fff;
    color: #494949;
    outline: none;
    border-radius: 10px;
    font-size: 17px;
    transition: .2s linear;
}

.container .box-group input:hover {
    box-shadow: 0px 0px 2px 5px #cdcefd;
    margin: 20px auto;
    width: 61%;
}

.container .btn {
    text-align: center;
    width: 60%;
    margin: 20px auto 0;
    display: block;
    border: 2px solid gray;
    background: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    transition: .1s linear;
}

.container .btn:hover {
    box-shadow: 0px 0px 5px 5px #cdcefd;
    margin: 25px auto 0;
    width: 61%;
}